@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: Nunito;
    src: url('../../public/fonts/Nunito/Nunito-Black.ttf');
}
@font-face {
    font-family: NunitoLight;
    src: url("../../public/fonts/Nunito/Nunito-Light.ttf");
}
@font-face {
    font-family: BebasNeue;
    src: url("../../public/fonts/BebasNeue/BebasNeue-Regular.ttf");
}