@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito/Nunito-Black.ttf');
}
@font-face {
    font-family: 'NunitoLight';
    src: url('/fonts/Nunito/Nunito-Light.ttf');
}
@font-face {
    font-family: 'BebasNeue';
    src: url('/fonts/BebasNeue/BebasNeue-Regular.ttf');
}